body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.grid-container {
    display: grid;
    grid-template: 500px 500px / 400px 400px 400px 400px;
    justify-content:space-evenly;
    grid-gap: 10px;
    padding: 10px;
    }

.grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }

.home-search-box {

    display: block;
    font-size:20px;
    margin-top:20px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}

.detail-grid-container{
    display:grid;
    grid-template: 750px / 500px 500px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.detail-grid-container > div {
    text-align: left;
    font-size: 20px;
}

.user-grid-container {
    display: grid;
    grid-template: 500px / 500px 500px;
    grid-gap: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    margin: 20px;
}

    .user-grid-container > div {
        background-color: rgb(128, 128, 128);
        text-align: left;
        padding: 20px;
        font-size: 20px;
    }

.admin-grid {
    display:grid;
    grid-template-columns: 300px 2fr;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content:center;
    margin:20px;
}

.admin-grid > div {
        background-color: rgb(128, 128, 128);
        text-align: left;
        padding: 20px;
        font-size: 20px;
    }
