@{ViewBag.Title = "Category list";}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
<title>Home</title>

<div class="admin-grid">
    <div class="item1">Book List</div>
    <div class="item2">Search bar</div>
    <div class="item3">Category List</div>
    <div class="item4">Categories</div>
    <div class="item5">User List</div>
</div>