@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>eLiteratureHaven is a website to make it easier for people to rent books, eLiteratureHaven also helps people read books without having to leave the house. <br><br>
    Affordability is a key tenet of eLiteratureHaven's philosophy. eLiteratureHaven was created with the aim of protecting diverse literary works,
    contributing to the long-term preservation of cultural heritage.</p>
