@{ViewBag.Title = "Categories";}

<title>home</title>

<form>
    <div style="padding-top:20px">
        <label>Choose a category: </label>
        <select>
            <option>Fiction</option>
            <option>Non-fiction</option>
        </select>
    </div>
    <div>
        <input type="checkbox" /><label>Genre1</label> <br />
        <input type="checkbox" /><label>Genre2</label> <br />
        <input type="checkbox" /><label>Genre3</label> <br />
        <input type="checkbox" /><label>Genre4</label> <br />
        <input type="checkbox" /><label>Genre5</label> <br />
    </div>
    <input type="submit" value="Search">
</form>
