@{ViewBag.Title = "Categories";}

<title>home</title>

<form action="/HomeController/Category">
    <div style="padding-top:20px">
        <label>Choose a category: </label>
        <select name="selectedCategory">
            <option value="Fiction">Fiction</option>
            <option value="Non-fiction">Non-fiction</option>
        </select>
    </div>
    <label>Choose genre</label>
    <div>
        <input type="checkbox" name="selectedGenres" value="Fantasy"/><label>Fantasy</label> <br />
        <input type="checkbox" name="selectedGenres" value="Children"/><label>Children</label> <br />
        <input type="checkbox" name="selectedGenres" value="Economics"/><label>Economics</label> <br />
        <input type="checkbox" name="selectedGenres" value="Business"/><label>Business</label> <br />
        <input type="checkbox" name="selectedGenres" value="Sociology"/><label>Sociology</label> <br />
    </div>
    <input type="submit" value="Search">
</form>
