@{ViewBag.Title = "Categories";}
@model IEnumerable<eLiteratureHaven.Models.books>


<title>home</title>

@using (Html.BeginForm("Category", "Home", FormMethod.Post))
{
    <div style="padding-top:20px">
        <label>Choose a category: </label>
        <select name="selectedCategory">
            <option value="Fiction">Fiction</option>
            <option value="Non-fiction">Non-fiction</option>
        </select>
    </div>
    <label>Choose genre</label>
    <div>
        <input type="checkbox" name="selectedGenres" value="Action" /><label>Action</label> <br />
        <input type="checkbox" name="selectedGenres" value="Children" /><label>Children</label> <br />
        <input type="checkbox" name="selectedGenres" value="Comic Book" /><label>Comic Book</label> <br />
        <input type="checkbox" name="selectedGenres" value="Crime" /><label>Crime</label> <br />
        <input type="checkbox" name="selectedGenres" value="DC Comics" /><label>DC Comics</label> <br />
        <input type="checkbox" name="selectedGenres" value="Fantasy" /><label>Fantasy</label> <br />
        <input type="checkbox" name="selectedGenres" value="Manga" /><label>Manga</label> <br />
        <input type="checkbox" name="selectedGenres" value="Romance" /><label>Romance</label> <br />
        <input type="checkbox" name="selectedGenres" value="Superhero" /><label>Superhero</label> <br />
        <br />
        <input type="checkbox" name="selectedGenres" value="Business" /><label>Business</label> <br />
        <input type="checkbox" name="selectedGenres" value="Cooking" /><label>Cooking</label> <br />
        <input type="checkbox" name="selectedGenres" value="Economics" /><label>Economics</label> <br />
        <input type="checkbox" name="selectedGenres" value="Guidebook" /><label>Guidebook</label> <br />
        <input type="checkbox" name="selectedGenres" value="Programming" /><label>Programming</label> <br />
        <input type="checkbox" name="selectedGenres" value="Sociology" /><label>Sociology</label> <br />
        <input type="checkbox" name="selectedGenres" value="Tabletop Games" /><label>Tabletop Games</label> <br />
        <input type="checkbox" name="selectedGenres" value="Website" /><label>Website</label> <br />
    </div>
    <input type="submit" value="Search">
}
