@{ViewBag.Title = "Categories";}

<title>home</title>

<form>
    <div>
        <label>Choose a category</label>
        <select>
            <option>Fiction</option>
            <option>Non-fiction</option>
        </select>
    </div>
    <div>
        <input type="checkbox" /><label>Genre1</label>
        <input type="checkbox" /><label>Genre2</label>
        <input type="checkbox" /><label>Genre3</label>
        <input type="checkbox" /><label>Genre4</label>
        <input type="checkbox" /><label>Genre5</label>
    </div>
    <input type="submit" />
</form>
