@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>@ViewBag.Message = "Contact Us"</h3>

<address>
    Wisma Subang Jaya, No.106, Jalan SS 15/4, 47500 Subang Jaya, Selangor<br />
    Malaysia, WA 87930-7498<br />
    <abbr title="Phone">Phone:</abbr>
    555.777.0214
</address>
<br>
<address>
    <strong>Support:</strong>   <a href="mailto:fadhl.aqbil@gmail.com">fadhl.aqbil@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:yusaalhaqi22@gmail.com">yusaalhaqi22@gmail.com</a>
</address>