

@{ViewBag.Title = "Home Page";}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
<title>Home</title>


<h1 style="text-align:center; margin-top:50px;">Welcome to eLiteratureHaven @if (Session["username"] != null) {<text>,@Session["username"].ToString()</text>}</h1>

<h4 style="text-align:center; margin-top:50px;">Search a book</h4>
<div>
    <input class="home-search-box" type="text" size="500" value="Search"/>
</div>

<h2 style="text-align:center;margin-bottom:40px">Featured Books</h2>

<div class="grid-container">
    @foreach (var book in Model)
    {
        <div style="font-size:24px; padding: 5px">
            <img src="/Content/Cover_images/@book.image_path" alt="Book Cover" style="max-width:100%;max-height:70%;"/><br />
            @book.title
        </div>
    }
</div>
