@{ViewBag.Title = "User Page";}

<title>User Page</title>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
<div class="user-grid-container">
    <div class="item1">Account Details<br />
        Logout</div>
    <div class="item2" style="padding-left:50px">
        Username<br />
        Date of Birth<br />
        Phone Number<br />
        Email
    </div>
    <div class="item3" style="padding-right:50px">
        <input type="text" style="line-height: 20px;"/><br />
        <input type="text" style="line-height: 20px;"/><br />
        <input type="text" style="line-height: 20px;"/><br />
        Email
    </div>
</div>