@model eLiteratureHaven.Models.users
@{ViewBag.Title = "User Page";}

<title>User Page</title>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="screen" runat="server" />

<div style="background-color: #f2f2f2; padding: 20px; margin: 50px auto 0; width: 50%;">
    <div style="overflow: hidden;">
        <div style="float: left; width: 45%; padding-right: 5%; font-size: 18px;">
            Username:<br />
            Email:<br />
            Full Name:<br />
            Phone Number:
        </div>
        <div style="float: right; width: 45%;">
            <input type="text" style="line-height: 20px; width: 100%; text-align: right;" value="@Model.username" readonly /><br />
            <input type="text" style="line-height: 20px; width: 100%; text-align: right;" value="@Model.email" readonly /><br />
            <input type="text" style="line-height: 20px; width: 100%; text-align: right;" value="@Model.full_name" readonly /><br />
            <input type="text" style="line-height: 20px; width: 100%; text-align: right;" value="@Model.phone_number" readonly /><br />
        </div>
    </div>
</div>